services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
    environment:
      - DB_FILE=/app/data/mdredd.db